.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-row-gap: 10px;
}

.background {
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -1;
}
.content {
  text-align: center;
  display: flex;
  justify-content: center;
}

.card1 {
  display: flex;
  flex-direction: column;
  border: none !important;
  border-bottom: 1px solid purple !important;
  flex-wrap: wrap;
  text-align: center;
}

.decorated {
  text-decoration: underline !important;
  font-size: 2em;
  width: auto;
}

.cardTitle {
  font-size: 2em;
}

.card1:hover {
  color: purple;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card1 img {
  width: 141px;
  height: 141px;
  margin: auto;
}

.headerText {
  margin: auto;
  text-align: center;
  font-size: 4em;
  color: #333;
  margin-bottom: 50px;
}

@media (max-width: 1400px) {
  .container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 10px;
  }
}

@media (max-width: 768px) {
  .card1 {
    width: 100% !important;
  }
  .container {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 10px;
  }
}
